.hero-search-filter {
  background: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80")
    center center no-repeat;
  height: 25vh;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 25vh;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* .hero-search-filter-menu li a {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
} */

.hero-search-filter-menu a {
  color: #fefefe;
  font-weight: bold;
}

.hero-search-filter-menu a:hover { 
  text-decoration: underline;
  color: #fefefe;
} 

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
  font-weight: bold;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: px #8a8a8a solid;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
}

.list-group {
  margin-bottom: 1rem;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  background: #fefefe;
  box-shadow: none;
  color: #0a0a0a;
  width: 100%;
  overflow-y: scroll;
  height: 65vh;
}

li {
  list-style: none;
}

.list-group-item {
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  width: 50%;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
}


.list-group-item:hover,
.list-group-item:focus {
  background-color: #e6e6e6;
}

#map {
  /*  position: fixed !important;
  background-color: grey;
  width: 50%;*/
  height: 65vh;
}

@media screen and (max-width: 639px) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
}

@media screen and (max-width: 639px) {
  .hero-search-filter-form {
    width: 95%;
  }
}

@media screen and (max-width: 639px) {
  #findtext{
   font-size: 0.5em;
  }
}

@media screen and (max-width: 639px) {
  #findlocate{
   font-size: 0.5em;
  }
}

@media screen and (max-width: 339px) {
  #findlocate{
   font-size: 0.5em;
  }
}



